import { Card } from "../../../interfaces"
import Set from "../{{ setCode }}"

const card: Card = {
	set: Set,

	name: {
		'zh-cn': "{{ name }}"
	},

	effect: {
		'zh-cn': "{{ description | trim | replace("\n", "\\n") }}"
	},

	illustrator: "{{ artist }}",
	category: "Trainer",
	trainerType: "{{ cardType | cardType2trainerType }}",

	regulationMark: "{{ regulationMark }}",
	rarity: "{{ rarity | rarity2str }}"
}

export default card