// https://vuetifyjs.com/en/styles/entry-points/#main-entry-point
@use 'vuetify/styles';

// https://vuetifyjs.com/en/getting-started/upgrade-guide/#css-reset
@layer vuetify-core.reset {
  ul,
  ol,
  dl,
  figure,
  details,
  summary {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
